<%= render "shared/header" %>
<div class="container">
  <div class="container-header">
    <h1>動画情報更新</h1>
    <%= link_to "キャンセル", videos_path, class:"cancel-button" %>
  </div>
  <div class="item-form-wrapper">
    <%= form_for @video do |f| %>
      <%= f.label :name, "名前", class:"form-label" %>
      <%= f.text_field :name %>
      <%= f.label :url, "動画URL", class:"form-label" %>
      <%= f.text_field :url %>
      <%= f.label :upload_at, "アップロード日", class:"form-label" %>
      <%= f.date_field :upload_at %>
      <span>タグ</span>
      <%= f.collection_check_boxes(:member_ids, Member.all, :id, :name) do |member| %>
        <div class="form-check">
          <%= member.label class: 'form-check-label' do %>
            <%= member.check_box class: 'form-check-input' %>
            <%= member.text %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit "更新する" %>
    <% end %>
  </div>
</div>
