<header>
  <%= link_to "Quizknock DB", root_path, class:"header-logo" %>
</header>
<div class="container">
  <div class="container-header">
    <h1>動画追加</h1>
  </div>
  <div class="item-form-wrapper">
    <%= form_for @video do |f| %>
      <%= f.label :name, "名前", class: "form-label" %>
      <%= f.text_field :name %>
      <%= f.label :url, "動画URL", class: "form-label" %>
      <%= f.text_field :url %>
      <%= f.label :upload_at, "動画アップロード日", class: "form-label" %>
      <%= f.date_field :upload_at %>
      <%= f.submit "保存" %>
    <% end %>
  </div>
  <%= link_to "もどる", videos_path, class:"cancel-button" %>
</div>
