<%= render partial:"shared/header" %>
<div class="container">
  <div class="container-header">
    <h1>メンバー一覧</h1>
    <%= link_to "+新規追加", new_member_path, class:"new-button" %>
  </div>
  <div class="index-table-wrapper">
    <div class="table-head">
      <span class="id-column">ID</span>
      <span class="member-column">名前</span>
      <span class="member-column">カテゴリ</span>
      <span class="member-column">誕生日</span>
      <span class="last-column"></span>
    </div>
    <ul class="table-body">
      <% @members.each.with_index(1) do |member,index| %>
        <li>
          <div class="item-data">
            <span class="id-column"><%= index %></span>
            <span class="member-column"><%= member.name %></span>
            <span class="member-column"><%= member.category %></span>
            <span class="member-column"><%= member.birthday.strftime("%Y-%m-%d") %></span>
            <div class="item-menu">
              <%= link_to "編集", edit_member_path(member.id) %>
              <%= link_to "削除", member_path(member.id),
                method: :delete, data: {confirm: "本当に削除しますか？"} %>
           </div>
         </div>
        </li>
        <% end %>
      </ul>
    </div>
    <%= paginate @members %>
  </div>
